{{define "yield"}}
<div class="row">
    <div class="col-md-12">

        <p>Name: {{.Name}}</p>
        <p>Price: {{.Price}}</p>
        <p>Description: {{.Description}}</p>
        <p>Owner: {{.UserID}}</p>

        <p>Images coming soon...</p>
    </div>
</div>
{{end}}