{{define "yield"}}
<div class="row">
    <div class="col-md-12">
        <h1>{{.Name}}</h1>

        <h1>Description</h1>
        <p>{{.Description}}</p>

        <h1>Price</h1>
        <p>{{.Price}}</p>

        <h1>Owner</h1>
        <p>{{.UserID}}</p>

        <p>Images coming soon...</p>
    </div>
</div>
{{end}}